@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div class="counter-block">
    <div class="counter-content">
        <div class="counter-count">
            @currentCount
        </div>
        current count
    </div>
    <DxButton Click="IncrementCount" Text="Click me" />
</div>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }
}
